* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    
}

html,body {
    width: 100%;
    height: 100%;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed ;
    z-index: -1;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: white; */
    /* background-color: #023e8a; */

}

#panel {
    overflow: hidden;
    width: 90%;
    height: 90%;
    background-color: #42a4f56f;
    border-radius: 10px;
    /* box-shadow: 0 0 5px 5px #42a4f56f inset; */
    /* box-shadow: 0 0 5px 5px #42a4f56f ; */
}



#ptop {
    padding: 0px 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: #caf0f87b; 
    
    /* box-shadow: 0px 0 20px 20px #caf0f87b ; */
    color: white;
    
}

.elem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    /* background-color: brown; */
}

.box {
    color: #03045e;
    font-weight: 500;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
}

#pbtm {
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    color: #ffffff;

}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 2px solid #ffffff7c;
    color: #d0e8fa;
}

.bubble:hover {
    background-color: #caf0f87b;
    color: #03045e;
    cursor: pointer;
}