.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-left li, .footer-center li, .footer-right li {
    list-style: none;
    padding-bottom: 10px;
    cursor: pointer;
}

.footer-center h2, .footer-right h2 {
   color: #fff;
}

.footer-socials img{
    width: 40px;
    margin-right: 15px;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}
@media (max-width: 1050px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright {
        text-align: center;
    }
}