.food-display {
    margin: 30px 0;
}

.food-display h2 {
    font-size: max(2vw, 24px);
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-description {
    color: #8f8f8f;
    font-size: 14px;
}

.food-item-price {
    color: tomato;
    margin: 10px 0px;
    font-size: 22px;
    font-weight: 500;
}