.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-item-img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.food-item-info {
    padding: 20px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add {
    position: absolute;
    width: 35px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    background-color: #fff;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
}

.food-item-counter img {
    width: 25px;
}