.empty-cart {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.empty-cart h3 {
    font-weight: 300;
}

.empty-cart h3 span {
    color: tomato;
    text-decoration: underline;
    font-style: italic;
}

.cart-page {
    margin-top: 100px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
}

.cart-items-item {
    margin: 10px 0;
    color: #000;
}

.cart-items-item img {
    width: 80px;
}

.cart-page hr {
    border: none;
    background-color: #e2e2e2;
    height: 1px;
}

.cart-items-item .RxCross2 {
    color: red;
    cursor: pointer;
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-totals {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-totals hr {
    margin: 10px 0;
}

.cart-totals button {
    border: none;
    color: #fff;
    background-color: tomato;
    width: max(15vw, 220px);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

.promo-code {
    flex: 1;
}

.promo-code p {
    color: #555;
}

.promo-code-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.promo-code-input input {
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
}

.promo-code-input button {
    width: max(10vw, 150px);
    padding: 12px 15px;
    background-color: #000;
    border: none;
    color: #fff;
    border-radius: 4px;
}

@media (max-width: 750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }
    .promo-code {
        justify-content: start;
    }
}
